.btn-link-out {
    --bs-btn-color: #fff;
    --bs-btn-bg: #00b7ff;
    --bs-btn-border-color: #00b7ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0037ff;
    --bs-btn-hover-border-color: #0037ff;
    --bs-btn-focus-shadow-rgb: 255, 208, 38;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0037ff;
    --bs-btn-active-border-color: #0037ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #00b7ff;
    --bs-btn-disabled-border-color: #00b7ff;
  }